*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    color: white;
    background-color: #6EA4ED;
}
.img{
    width: 90%;
}
#cit {
    color: #6EA4ED;
}
.text{
    margin-top: 20px;
    margin-bottom: 20px;
}
.yellowhightlighter{
    background-color: yellow;
}
table {
    border-collapse: collapse;
    table-layout: auto;
}
th, td {
    text-align: left;
}
th {
    background-color:#20A9E5;
    color: white;
  }
.sparerow {
    background-color: #B1E5F2;
}
  